.fs-loader-overlay {
  position: fixed;
  inset: 0;
  background: #fff;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fs-loader-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fs-loader-spinner {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fs-loader-svg-container {
  width: 100%;
  height: 100%;
}

.fs-loader-circle-animated {
  animation: fs-loader-rotate 1s linear infinite;
  transform-origin: 16px 16px;
}

@keyframes fs-loader-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
