.fs-loader-overlay {
  position: fixed;
  inset: 0;
  background: #000;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fs-loader-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fs-loader-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fs-loader-svg {
  width: 24px;
  height: 24px;
  fill: #fff;
  color: #fff;
}

@keyframes fs-spin {
  to {
    transform: rotate(360deg);
  }
}
